li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  height: 200px;
  width: 360px;
}

.gallery-image:hover {
  height: 208px;
  width: 376px;
}
